@import "~bootstrap/dist/css/bootstrap.min.css";

$hover-color: #2196f3;

body,
html {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.icon {
  height: 80px;
  width: 130px;
  margin: 8px;
  margin-bottom: 12px;
  text-align: center;
  > pre {
    font-size: 12px;
    margin-top: 10px;
    color: #555;
  }
  &:hover {
    cursor: pointer;
    svg {
      stroke: $hover-color;
    }
    pre {
      color: $hover-color;
    }
  }
}
